/* Color */
body,
.navbar-brand,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.table>:not(caption)>*>* {
    color: #262626 !important;
}

/* Modal */
.modal-content {
    border: none;
    border-radius: 10px;
}
.modal-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.modal-backdrop {
    --bs-backdrop-opacity: 0.35;
}

/* Navbar */
.navbar {
    border-bottom: 2px solid #dfe4ea;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    font-weight: 500;
}

/* Form */
.form-label {
    font-weight: 600;
}
.form-select,
.form-control {
    border-radius: 12px;
    height: 48px;
    padding-left: 1rem;
}

/* Buttons */
.btn {
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 8px;
}

/* Cursor pointer */
.cursor-pointer:hover {
    cursor: pointer;
}

/* Custom margin bottom */
.mb-4-5 {
    margin-bottom: 2rem !important;
}